/* -----------------main---------------------------- */

.min {
    width: 100%;
    height: 135px;
    background: url(bg_img_header2.png) no-repeat center;
}
.min p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 135px;
}

.logo {
    width: 430px;
    z-index: 1000;
    position: absolute;
    left: 450px;
    top:90px;

}

/* ----------slide------------------------------------------ */
#slide {
    width: 1366px;
    height: 830px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.slide_img img {
    width: 100%;
    height: 830px;
    position: absolute;
    overflow: hidden;
}

/* -----slide_btn------------------------------------ */

/* ------mn_contents */

#mn_contents {
    background: url(bg_img_contents.png) no-repeat center;
    width: 1366px;
    height: 2490px;
    margin: 0 auto;
    position: relative;
}

#mn_contents img {
    width: 555px;
    height: 560px;
}

#mn_contents h1 {
    font-size: 35px;
    font-weight: bold;
}

#mn_contents .con_text_b {
    color: #095bff;
    font-size: 50px;
}

#mn_contents .con_text_w {
    color: #fff;
}

#mn_contents .con_text_y {
    color: #FEDC16;
}

#mn_contents .con3 span {
    color: #FEDC16;
}

/* ------con1------------------------------- */

#mn_contents .con1 .con_img {
    position: absolute;
    top: 280px;
    left: 150px;
}

#mn_contetns .con1 .con1_text {
    position: absolute;
    top: 200px;
    left: 300px;
}


/* ------con2------------------------------- */
#mn_contents .con2 .con_img {
    position: absolute;
    top: 950px;
    left: 650px;
}

#mn_contetns .con2 .con2_text {
}


/* ------con3------------------------------- */
#mn_contents .con3 .con_img {
    position: absolute;
    top: 1660px;
    left: 200px;
}

#mn_contetns .con3 .con3_text {
}

/* ------movie------------------------- */

#movie {
    width: 1366px;
    height: 905px;
    margin: 0 auto;
    background: url(bg_img_movie.png);
    position: relative;
}

#movie .movie {
    width: 940px;
    height: 520px;
    position: absolute;
    top: 190px;
    left: 215px;
    border: 20px solid #E42836;
    border-radius: 20px;
}

#movie .can img {
    width: 210px;
    height: 375px;
    position: absolute;
    top: 515px;
    left: 1105px;
    z-index: 50;
}

#movie .more_btn {
    width: 220px;
    height: 75px;
    background: #095bff;
    border-radius: 80px;
    position: absolute;
    cursor: pointer;
    top: 785px;
    left: 585px;
}

#movie .more_btn h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 2.7;
}

/* ----insta---------------------- */

#insta {
    background: url(bg_img_insta.png);
    width: 1366px;
    height: 1435px;
    margin: 0 auto;
    position: relative;
}

.coca_logo3 img {
    float: left;
    margin-top: 80px;
    margin-left: 100px;
    width: 250px;
    height: 245px;
    border-radius: 360px;
}

.insta_text {
    float: left;
    margin-top: 140px;
    margin-left: 40px;
    font-weight: bold;
}

.insta_text h1 {
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;
}

.insta_text h2 {
    color: #fedc16;
    font-size: 30px;
}

.insta_img {
    width: 1300px;
    height: 980px;
    top: 430px;
    left: 30px;
    position: absolute;
}

#insta ul li {
    float: left;
}

#insta img {
    padding: 18px;
}

#insta .more_btn {
    width: 220px;
    height: 75px;
    background: #095bff;
    border-radius: 80px;
    position: absolute;
    cursor: pointer;
    left: 585px;
    top: 1320px;
}

#insta .more_btn h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 2.7;
}

/* -----sub contents more_btn */

.contents_box .more_btn {
    width: 220px;
    height: 75px;
    background: #095bff;
    border-radius: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}

.contents_box .more_btn h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 2.7;
}

/* -----sub newss more_btn */

.news_box .more_btn {
    width: 220px;
    height: 75px;
    background: #095bff;
    border-radius: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}

.news_box .more_btn h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 2.7;
}

/* ------footer---------- */
footer {
    margin: 0 auto;
    height: 220px;
}


.page p {
    line-height: 1.5;
}
